<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1cSOhvlktSoMziAMAZFjMbyBIlG3BpJg</string>
	<key>GCM_SENDER_ID</key>
	<string>574343687309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sample-sample.landmark.samplefirebase</string>
	<key>PROJECT_ID</key>
	<string>sample-185ca</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-185ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574343687309:ios:89652eda51f9df3dc306c4</string>
</dict>
</plist>